.mainbox{
	display: flex;
	flex-wrap: wrap;
	width: 1200px; 
	margin-left: auto ;
	margin-right: auto ;

}
.box-one{
	width:50%;
	background-color: #778899ed;
	padding:25px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
} 
.box-two{ 
width:50% ;

}  

span{
	
background-color: blueviolet;
	
color: white;
	
width: 120px;
	
text-align: center;
	
padding:  4px;
	
border-radius: 8px;
}
h1{
 font-size: 35px;
 margin-bottom: 0;
 letter-spacing: 2px;
}
p{
	margin: 0;
	font-size: 20px;
	line-height: 29px;
	margin-top: 10px;
}

img{
	width: 100%;
	height: 500px;
	object-fit: cover;
	object-position:top;
	object-position: center;
	display: block;
}
